// Colours
// -------
$black: #000000;
$white: #ffffff;
$grey: #bababa;
$lightGrey: #dddddd;
$red: #ff4848;
$green: #4cce51;

// Font sizes
// ----------
$h1-fontSize: 3.75rem;
$button-fontSize: 1.5rem;
$bodyStrong-fontSize: 1rem;
$body-fontSize: 1rem;
